<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FLIGHT RESERVATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="findFlight" >FIND FLIGHT</a>
      <a class="nav-item nav-link" href="displayFlights">SHOW FLIGHTS <span class="sr-only">(current)</span> </a>
      <a class="nav-item nav-link" href="passengerDetails/:id">MY DETAILS</a>
      <a class="nav-item nav-link " href="confirmReservation/:id">CONFIRM RESERVATION</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>