

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
     <H5>RESERVATION DETAILS</H5>
       </span>
       <span class="navbar-text">
           <label>Enter reservation id to get details</label>
   <input type="text" [(ngModel)]="reservationId">
   <input type="button" value="GET DETAILS" (click)="getReservationDetails()">
          </span>
  </nav>
<br/>

<div class="container" [hidden]="showDetails">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">{{passenger.id}}</li>
                <li class="list-group-item">{{passenger.firstName}}</li>
                <li class="list-group-item">{{passenger.lastName}}</li>
                <li class="list-group-item">{{passenger.email}}</li>
                <li class="list-group-item">{{passenger.phone}}</li>
              </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">{{flight.id}}</li>
                <li class="list-group-item">{{flight.flightNumber}}</li>
                <li class="list-group-item">{{flight.operatingAirlines}}</li>
                <li class="list-group-item">{{flight.departureCity}}</li>
                <li class="list-group-item">{{flight.arrivalCity}}</li>
              </ul>
        </div>
    </div>
    <br/>
    <div align='center'>
    <input  type="button" [value]="confirmButton" (click)="confirmReservation()" class="btn btn-success">
</div>
<div class="alert alert-primary" role="alert" [hidden]="showConfirm">
    A simple primary alert—check it out!
  </div>
</div>
